@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/1_Minecraft-Regular.otf") format("opentype");
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.caja-principal {
  @apply bg-gradient-to-br from-blue-900 via-indigo-900 to-purple-900 w-full min-h-screen transition-all duration-500 m-0 p-0 box-border overflow-hidden;
}

.logo {
  @apply block mx-auto mt-10 rounded-full;
}

.contenedor_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
  background-color: rgba(0, 0, 0, 0.35);
  margin: 2rem;
  overflow: hidden;
  border-radius: 2rem;
  font-family: "Minecraft", monospace;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 70px;
  font-size: 35px;
  text-align: center;
  background: linear-gradient(90deg, #000d2d, #000a40);
  box-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  margin: 30px auto;
}

.contenedor-respuestas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  background: linear-gradient(90deg, #000d2d, #000a40);
  width: 100%;
  max-width: 500px;
  color: white;
}

.respuestas {
  font-size: 1.125rem;
  text-align: center;
  background: linear-gradient(90deg, #000d2d, #000a40);
  border: 2px solid #ffffff;
  border-radius: 50px;
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.respuestas:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ffffff, 0 0 30px #ffffff;
}

.letra {
  color: #67e8f9;
  margin-right: 10px;
}

.progreso {
  margin-top: 20px;
  color: #67e8f9;
}

.correcta {
  background-color: #d1ffd1;
  box-shadow: 0 0 30px green;
}

.correcta:hover {
  background-color: #d1ffd1;
  box-shadow: 0 0 30px green;
}

.incorrecta {
  background-color: #ffd1d1;
  box-shadow: 0 0 30px red;
}

.incorrecta:hover {
  background-color: #ffd1d1;
  box-shadow: 0 0 30px red;
}

.clase {
  background-color: #ffd1d1;
  margin: 10px;
}

.mensaje-final {
  text-align: center;
  margin-top: 2rem;
  font-family: "Minecraft", monospace;
  font-size: 35px;
}

.btn-reiniciar {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #000a40;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-reiniciar:hover {
  background-color: #000c49;
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
}
